html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}

#box {
  border: 50px solid transparent;
  border-bottom: 100px solid red;
  height: 0;
  width: 100px;
}
